.contact__list {
  display: flex;
  margin-left: auto;
  gap: 5px;

  .contact__item {
    display: flex;
    white-space: nowrap;
    font-size: 12px;
  }
  .contact__link {
    gap: 50px;
    color: $sixth-color;
    transition: $main-transition;

    &:hover,
    &:focus {
      color: $secondary-color;
    }
  }
}
.contact__icon {
  margin-right: 8px;
  vertical-align: middle;
  fill: currentColor;
}

@media screen and (min-width: 768px) and (max-width: 1199.9px) {
  .contact__list {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .navigation-list__item:not(:last-child) {
    margin-right: 46px;
  }

  .contact__link--product-tel {
    margin-left: 50px;

    &__icon {
      margin-right: 10px;
    }

    &__link {
      font-size: 12px;
      line-height: 1.143;
    }
  }
}
