.contact__list {
  display: flex;
  margin-left: auto;

  .contact__item {
    display: flex;
    white-space: nowrap;
  }
  .contact__link {
    gap: 50px;
    color: $sixth-color;
    transition: $main-transition;

    &:hover,
    &:focus {
      color: $secondary-color;
    }
  }
  .contact__link--product-tel {
    margin-left: 50px;
  }
  .contact__icon {
    margin-right: 10px;
    vertical-align: middle;
    fill: currentColor;
  }
}
