.logo {
  display: flex;
  justify-content: center;

  font-family: $second-font;
  font-weight: 700;
  font-size: 24px;
  line-height: 1, 167;
  letter-spacing: $letter-spacing;
  text-decoration: none;

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
    font-size: 26px;
    line-height: 1.192;
  }

  &__font--accent {
    color: $secondary-color;
  }

  &__font--second {
    color: $fifth-color;
  }

  &__font--dark {
    color: $third-color;
  }

  .nav .logo {
    @media screen and (min-width: 768px) {
      margin-right: 83px;
    }
  }
}
