.nav {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
  gap: 46px;
}

.nav__item {
  position: relative;
}
.nav__link--product {
  color: $secondary-color;
}
.nav__link {
  color: $primary-color;
  transition: $main-transition;
  &:hover,
  &:focus {
    color: $secondary-color;
  }
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 47px;
    width: 100%;
    height: 4px;
    background: transparent;
    border-radius: 2px;
  }
}
.nav__link.active:after {
  background-color: $secondary-color;
}
