h1,
h2,
h3,
h4,
h5,
ul,
p,
span {
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
}

.photo {
  display: block;
}

address {
  font-style: normal;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}
