.header {
  border-bottom: $header-border;
}

.banner {
  background-color: $third-color;
  background-image: $background-image;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.contents {
  padding-top: 94px;
}

.work,
.team,
.customers,
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.team {
  background-color: $background-color-team;
}

.footer {
  padding: 60px 0;
  background-color: $slider-color;
}
