.team {
  background-color: $background-color-team;
}

.team__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  .team__item {
    background: $third-color;
    box-shadow: $box-shadow-pics;
    border-radius: var(--border-radius-pics);

    @media screen and (max-width: 767.9px) {
      margin-bottom: 30px;
    }

    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 30px * 2) / 2);
      margin: 15px;
    }

    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 30px * 4) / 4);
    }
  }

  .team__wraper {
    padding: 30px 10px;
  }

  .team__wraper--name {
    text-align: center;

    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.188p;
    letter-spacing: $letter-spacing;
  }

  .team__wraper--profesion {
    text-align: center;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.188;
    color: $sixth-color;
  }
}

/*---------------------------------------------social-links-----------*/
.team__icon--list {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 10px;
}
.team__icon--item {
  display: flex;
  justify-content: center;

  .team__icon--link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;
    fill: $social-logo-color;
    background-color: $third-color;
    border-radius: 50%;
    transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1),
      fill 0.5s cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 44px;
      height: 44px;
      fill: $third-color;
      background-color: $secondary-color;
      border-radius: 50%;
      transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1),
        fill 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}
