.work {
  @media screen and (max-width: 1199.9px) {
    display: none;
  }
}

.work__list {
  display: flex;
  gap: 30px;

  .work__item {
    position: relative;
  }
}

.work__background {
  position: absolute;
  text-align: center;
  background: $work-text-background;
  top: 224px;
  padding: 27px;
  width: 100%;

  .work__subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    text-transform: uppercase;
    color: $third-color;
  }
}
